# 1. Eclipse
.classpath
.project
.settings/

# 2. idea
.idea/
*.iml
*.iws
out/

# 3. Mac
.DS_Store

# 4.Maven
target/

# 5. gradle
.gradle/
build/
gradlew
gradlew.bat

# 6. jrebel
rebel.xml

# 7. 日志
logs/
*.log


